<launch>

  <param name="robot_description" command="cat $(find rbebot_description)/urdf/rbebot.urdf"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find custom_robot_control)/config/custom_robot_control.yaml" command="load"/>

<!-- load joint state controller -->
  <node name="controller_spawner_state" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/custom_scara" args="joint_state_controller"/>

<!-- load position controller-->
  <node name="controller_spawner_position" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/custom_scara" args="joint1_position_controller joint2_position_controller joint3_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/custom_scara/joint_states" />
  </node>

</launch>
